# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# []  Игнорирование файлов, начинающихся на ".", а также "__".
# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# //  START


00_Modding/00_Patcher/.*
00_Modding/00_Patcher/__*


# //  ENDED
# //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]




# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# []  Игнорирование старых расширений VSCode до версии "x.3.x".
# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# //  START


00_Modding/VSCode/*
!00_Modding/VSCode/*.3.*.vsix


# //  ENDED
# //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
