# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# []  Игнорирование файлов, начинающихся на ".", а также "__".
# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# //  START


Patcher/.*
Patcher/__*


# //  ENDED
# //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]




# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# []  Игнорирование старых расширений VSCode до версии "x.3.x".
# [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
# //  START


VSCode/*
!VSCode/*.3.*.vsix


# //  ENDED
# //[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
